<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="eo-geojson10-${version}" verbose="0"
	configfailurepolicy="continue">
	<parameter name="iut" value="" />
	<parameter name="col" value="" />
	<parameter name="ics" value="" />

	<listeners>
		<listener
			class-name="org.opengis.cite.eogeojson10.TestRunListener" />
		<listener
			class-name="org.opengis.cite.eogeojson10.SuiteFixtureListener" />
		<listener
			class-name="org.opengis.cite.eogeojson10.TestFailureListener" />
	</listeners>

	<test name="Core">
		<packages>
			<package name="org.opengis.cite.eogeojson10.core" />
		</packages>
		<classes>
			<class name="org.opengis.cite.eogeojson10.SuitePreconditions" />
		</classes>
	</test>
	<test name="EarthObservation">
		<packages>
			<package name="org.opengis.cite.eogeojson10.earthobservation" />
		</packages>
	</test>
	<test name="Properties">
		<packages>
			<package name="org.opengis.cite.eogeojson10.properties" />
		</packages>
	</test>
	<test name="Links">
		<packages>
			<package name="org.opengis.cite.eogeojson10.links" />
		</packages>
	</test>
	<test name="Offering">
		<packages>
			<package name="org.opengis.cite.eogeojson10.offering" />
		</packages>
	</test>
	<test name="MetadataInformation">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.metadatainformation" />
		</packages>
	</test>
	<test name="DataIdentification">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.dataidentification" />
		</packages>
	</test>
	<test name="Geometry">
		<packages>
			<package name="org.opengis.cite.eogeojson10.geometry" />
		</packages>
	</test>
	<test name="AcquisitionInformation">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.acquisitioninformation" />
		</packages>
	</test>
	<test name="AcquisitionParameters">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.acquisitionparameters" />
		</packages>
	</test>
	<test name="ProductInformation">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.productinformation" />
		</packages>
	</test>
	<test name="EarthObservationCollection">
		<packages>
			<package
				name="org.opengis.cite.eogeojson10.earthobservationcollection" />
		</packages>
	</test>
</suite>
